@font-face {
    font-family: 'Bauhaus 93';
    src: url('https://demo.hasthemes.com/gilbard-preview/gilbard/assets/fonts/bauhaus93/Bauhaus93.eot');
    src: url('https://demo.hasthemes.com/gilbard-preview/gilbard/assets/fonts/bauhaus93/Bauhaus93.eot?#iefix') format('embedded-opentype'),
        url('https://demo.hasthemes.com/gilbard-preview/gilbard/assets/fonts/bauhaus93/Bauhaus93.woff2') format('woff2'),
        url('https://demo.hasthemes.com/gilbard-preview/gilbard/assets/fonts/bauhaus93/Bauhaus93.woff') format('woff'),
        url('https://demo.hasthemes.com/gilbard-preview/gilbard/assets/fonts/bauhaus93/Bauhaus93.ttf') format('truetype'),
        url('https://demo.hasthemes.com/gilbard-preview/gilbard/assets/fonts/bauhaus93/Bauhaus93.svg#Bauhaus93') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* https://demo.hasthemes.com/gilbard-preview/gilbard/assehttps://demo.hasthemes.com/gilbard-preview/gilbard/assets/fonts/bauhaus93/Bauhaus93.eot */