{% extends "base.html" %}

{% block body %}
<!--Login Section Start-->
<div class="login-section section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
    <div class="container reset">
        <div class="row">

            <!-- Login -->
            <div class="col-12 d-flex justify-content-center">
                <div class="gilbard-login">

                    <h3>Reset your password</h3>
                    <p>Enter your E-mail address, We will send you a link, through which <br>
                        you can reset your password.
                    </p>

                    <!-- Login Form -->
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category , message in messages %}
                        <a class="alert alert-{{ category }}">{{ message }}</a>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                            <div class="col-12 mb-30">
                                {{ form.email(placeholder="Enter your email address" , type="email")}}
                                {% for error in form.email.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-12"><input type="submit" value="RESET"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Login Section End-->

    {% endblock %}