<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FunOlympic Games || Bayjing</title>
    <meta name="description" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='images/small-logo.png') }}" type="img/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qanto.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bauhaus93.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/helper.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main-wrapper">
        <header class="header header-static bg-white header-sticky">
            <div class="default-header menu-right">
                <div class="container container-1520">
                    <div class="row">

                        <!--Logo start-->
                        <div class="col-12 col-md-3 col-lg-3 order-md-1 order-lg-1 mt-20 mb-20">
                            <div class="logo">
                                <a href="{{ url_for('general_bp.home') }} "><img
                                        src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a>
                            </div>
                        </div>
                        <!--Logo end-->

                        <!--Menu start-->
                        <div class="col-lg-6 col-12 order-md-3 order-lg-2 d-flex justify-content-center">
                            <nav class="main-menu menu-style-2">
                                <ul>
                                    <li><a href="{{ url_for('general_bp.home') }} ">Home</a></li>
                                    <li><a href="{{ url_for('general_bp.home') }}#videos">Broadcasts</a></li>

                                </ul>
                            </nav>
                        </div>
                        <!--Menu end-->

                        <!--Header Right Wrap-->
                        <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-3">
                            <div class="header-right-wrap">
                                {% if not request.is_authenticated %}
                                <ul>
                                    <li><a href="{{ url_for('auth_bp.main') }}">LOGIN</a></li>
                                    <li><a href="{{ url_for('auth_bp.signup') }}">SIGN UP</a></li>
                                </ul>
                                {% else %}
                                <a href="{{ url_for('general_bp.logout')}}" class="text-danger">Logout</a>
                                {% endif %}
                            </div>
                        </div>
                        <!--Header Right Wrap-->

                    </div>

                    <!--Mobile Menu start-->
                    <div class="row">
                        <div class="col-12 d-flex d-lg-none">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                    <!--Mobile Menu end-->

                </div>
            </div>
        </header>
        {% block body %}

        {% endblock %}
        <!--Footer section start-->
        <footer class="footer-section style-2 section bg-theme">

            <!--Footer bottom start-->
            <div class="footer-bottom border-color section">
                <div class="container">
                    <div class="row">

                        <!--Footer Widget start-->
                        <div class="col-12">
                            <div class="footer-widget">
                                <div class="footer-social">
                                    <span>follow us:</span>
                                    <ul>
                                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                        <li><a href="#"><i class="icofont-youtube-play"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Footer Widget end-->
                        <div class="col-12">
                            <div class="copyright text-center">
                                <p>Copyright &copy;2018 <a href="#">FunOlympic Bayjing</a>. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer bottom end-->

        </footer>
        <!--Footer section end-->

    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>