{% extends "base.html" %}

{% block body %}
<!--Login Section Start-->
<div class="login-section section pt-95 pt-lg-75 pt-md-65 pt-sm-55 pt-xs-45">
    <div class="container reset">
        <div class="row">

            <!-- Login -->
            <div class="col-12 d-flex justify-content-center">
                <div class="gilbard-login">

                    <h3>Change your password</h3>
                    <!-- Login Form -->
                    <form action="#">
                        <div class="row">
                            <div class="col-12 mb-30"><input type="password"
                                    placeholder="New Password"></div>
                            <div class="col-12 mb-20"><input type="password" placeholder="Confirm New Password"></div>
                            <div class="col-12"><input type="submit" value="Submit"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Login Section End-->

    {% endblock %}